name: Update Keys and Create Release

on:
  schedule:
    - cron: "42 * * * *"
  workflow_dispatch:

jobs:
  update-keys-and-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    container:
      image: blacktop/ipsw
      options: --workdir /github/workspace -v ${{ github.workspace }}:/github/workspace
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Install dependencies
        run: |
          apt-get update
          apt-get install -y git python3 python3-pip python3-requests

      - name: Get new keys and commit
        working-directory: /github/workspace
        run: |
          ipsw version
          git clone https://x-access-token:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git
          cd `basename ${GITHUB_REPOSITORY}`
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          ./update.py
          git add keys
          git add fcs-keys.json
          if git commit -m "Automatic update"; then
            echo COMMIT_STATUS=success >> $GITHUB_ENV
            git push origin HEAD:main
            # Delete empty directories
            rmdir keys/*/* || true
            tar cjf ../keys.tbz2 keys
            cp fcs-keys.json ..
          else
            echo COMMIT_STATUS=failure >> $GITHUB_ENV
            echo "No changes to commit"
          fi
      
      - name: Delete old releases
        uses: dev-drprasad/delete-older-releases@v0.2.0
        if: env.COMMIT_STATUS == 'success'
        with:
          keep_latest: 0
          delete_tags: true

      - name: Make releases
        uses: ncipollo/release-action@v1
        if: env.COMMIT_STATUS == 'success'
        with:
          tag: v1.0.0
          name: Current Release
          commit: main
          artifacts: keys.tbz2\nfcs-keys.json
          draft: false
          prerelease: false